@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Heredamos del layout base
}

<link rel="stylesheet" href="~/css/sidebar.css">
<style>
    .fade-in {
        opacity: 0;
        transition: opacity 1s ease-in;
    }

        .fade-in.show {
            opacity: 1;
        }
</style>

<div class="d-flex fade-in" id="wrapper">
    <!-- Sidebar -->
    @* <div id="wrapper-container" style="display:block"> *@
    <div class="bg-light border-right" id="sidebar-wrapper" style="display:none">
        <div class="sidebar-heading d-flex justify-content-between align-items-center">
            <span>Opciones de Administración</span>
            <button class="btn btn-link text-dark" id="close-sidebar">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light @(ViewContext.RouteData.Values["controller"]?.ToString() == "FlowWf" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "selected" : "")"
               asp-area="Admin" asp-controller="FlowWf" asp-action="Index">Flujos de Trabajo</a>


            <a class="list-group-item list-group-item-action bg-light @(ViewContext.RouteData.Values["action"]?.ToString() == "Derechos" ? "selected" : "")"
               asp-area="Admin" asp-controller="Tipologia" asp-action="Derechos">Tipologías</a>

            <a class="list-group-item list-group-item-action bg-light @(ViewContext.RouteData.Values["controller"]?.ToString() == "User" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "selected" : "")"
               asp-area="Admin" asp-controller="User" asp-action="Index">Usuarios</a>

            <a class="list-group-item list-group-item-action bg-light @(ViewContext.RouteData.Values["controller"]?.ToString() == "MailTemplate" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "selected" : "")"
               asp-area="Admin" asp-controller="MailTemplate" asp-action="Index">Plantillas de Correo</a>
        </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" class="">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <!-- Botón flotante para abrir el sidebar -->
    <button class="btn btn-primary btn-float" id="open-sidebar">
        <i class="fas fa-bars"></i>
    </button>
</div>


<!-- Renderizamos la sección Scripts si está definida -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@RenderSection("Scripts", required: false)

<!-- Scripts -->
@section Scripts {
    <script>
        // Añade las transiciones una vez que la página ha cargado completamente
        function addTransitions() {
            document.getElementById('sidebar-wrapper').style.transition = 'margin-left 0.3s ease';
            document.getElementById('sidebar-wrapper').style.display = 'block';
            document.getElementById('page-content-wrapper').style.transition = 'margin-left 0.3s ease';
        }

        // Aplica el estado del sidebar antes de que la página esté completamente cargada
        (function () {
            const sidebarState = localStorage.getItem("sidebarAdminState");
            if (sidebarState === "closed") {
                document.getElementById("wrapper").classList.add("toggled");
            }
        })();

        // Función para guardar el estado del sidebar en localStorage
        function saveSidebarState(isToggled) {
            localStorage.setItem("sidebarAdminState", isToggled ? "closed" : "open");
        }

        // Función para restaurar el estado del sidebar desde localStorage
        function restoreSidebarState() {
            const sidebarState = localStorage.getItem("sidebarAdminState");
            const wrapper = document.getElementById("wrapper");
            const openSidebarButton = document.getElementById("open-sidebar");

            if (sidebarState === "closed") {
                wrapper.classList.add("toggled");
                openSidebarButton.style.display = 'block';
            } else {
                wrapper.classList.remove("toggled");
                openSidebarButton.style.display = 'none';
            }
        }



        // Restaurar el estado del sidebar cuando se carga la página
        $(document).ready(function () {

            $('.fade-in').addClass('show');


            restoreSidebarState();

            // Habilitar las transiciones después de que el DOM esté listo
            setTimeout(addTransitions, 100);

            // Mostrar el botón flotante solo cuando el sidebar está cerrado
            if (!$("#wrapper").hasClass("toggled")) {
                $("#open-sidebar").hide();
            }

            // agrega icono rote cuando el menu este expandido o colapsado a tipologia
            $("#tipologiaSubmenu").on("show.bs.collapse", function () {
                $("#tipologia-icon").removeClass("collapsed");
                localStorage.setItem("tipologiaMenuState", "open");
            }).on("hide.bs.collapse", function () {
                $("#tipologia-icon").addClass("collapsed");
                localStorage.setItem("tipologiaMenuState", "closed");
            });
            // Restaura el estado del menú colapsable desde localStorage para tipologia
            const tipologiaMenuState = localStorage.getItem("tipologiaMenuState");
            if (tipologiaMenuState === "open") {
                $("#tipologiaSubmenu").addClass("show");
                $("#tipologia-icon").removeClass("collapsed");
            } else {
                $("#tipologiaSubmenu").removeClass("show");
                $("#tipologia-icon").addClass("collapsed");
            }


        });

        // Alternar el sidebar cuando el botón de cerrar es clicado
        $("#close-sidebar").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            saveSidebarState($("#wrapper").hasClass("toggled"));
        });

        // Alternar el sidebar cuando el botón flotante es clicado
        $("#open-sidebar").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            saveSidebarState($("#wrapper").hasClass("toggled"));
        });

        // Mostrar el botón flotante solo cuando el sidebar está cerrado
        $("#wrapper").on("transitionend", function () {
            if ($("#wrapper").hasClass("toggled")) {
                $("#open-sidebar").show();
            } else {
                $("#open-sidebar").hide();
            }
        });
    </script>
}