@using AppExpedienteDHR.Utils.Constants
@using AppExpedienteDHR.Core.Models
@using Microsoft.AspNetCore.Identity
@using AppExpedienteDHR.Core.Domain.IdentityEntities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    @* <title>@ViewData["Title"] - Expediente DHR</title> *@
    <title>Expediente DHR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />



    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                @* logo de la app *@
                <img src="~/images/logo_dhr_horizontal.png" alt="Logo" style="height: 40px; width: 120px" class="d-inline-block align-text-top">
                &nbsp;&nbsp;&nbsp;
                <a class="navbar-brand text-white-50" href="#">Módulo Institucional</a> 

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active text-white" asp-area="Client" asp-controller="Home" asp-action="Index">
                                Inicio
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                       @*  @if (User.IsInRole(Roles.Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administración</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-area="Admin" asp-controller="User" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Role" asp-action="Index">Perfiles</a>
                                    <a class="dropdown-item text-white" asp-area="Admin" asp-controller="FlowWf" asp-action="Index">Flujo de Trabajo</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        } *@
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form class="d-flex">
                            <input class="form-control me-sm-2" type="search" placeholder="Busca lo que quieras">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                <!-- Breadcrumbs -->


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @if (ViewData["Breadcrumbs"] != null)
                        {
                            <li class="breadcrumb-item"><a href="/"><strong>Inicio</strong></a></li>
                            foreach (var breadcrumb in (List<Breadcrumb>)ViewData["Breadcrumbs"])
                            {
                                if (breadcrumb.IsActive)
                                {
                                    <li class="breadcrumb-item active" aria-current="page"><strong>@breadcrumb.Title</strong></li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href="@breadcrumb.Url"><strong>@breadcrumb.Title</strong></a></li>
                                }
                            }
                        }
                    </ol>
                </nav>


                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top footer text-muted">
        <div class="container">
            &copy; 2024 - <strong>Defensoría de los Habitantes de la Costa Rica</strong> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @* @section ScriptsEssentials { *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Cargar jQuery Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <!-- Cargar jQuery Validation Unobtrusive -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Js plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @* } *@

    @* @RenderSection("ScriptsEssentials", required: false) *@
    @await RenderSectionAsync("Scripts", required: false)



    @* Definimos la sección ScriptsEssentials para incluir los scripts principales *@
    @*     @section ScriptsEssentials {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    }

    @RenderSectionAsync("ScriptsEssentials", required: false) *@

    @* Sección para otros scripts específicos de las vistas *@
    @*    @await RenderSectionAsync("Scripts", required: false)

    *@

</body>
</html>