@using AppExpedienteDHR.Core.ViewModels.Dhr
@model DenunciaViewModel

@{
}
<link rel="stylesheet" href="~/css/denunciaForm.css">
<link rel="stylesheet" href="~/css/file-upload.css">



<div class="container">
    <div class="row">
        <div class="col-12 border border-light rounded p-2">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <!-- Barra de Progreso -->
                <div class="progress mb-4">
                    <div id="progress-bar" class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Paso 1 de 4</div>
                </div>

                <!-- Asistente de pasos -->
                <div id="stepper" class="stepper">
                    <!-- Paso 1: Datos del Denunciante -->
                    <div class="step shadow-sm p-4 mb-4 bg-white rounded" id="step1">
                        <h3 class="text-center border-bottom pb-2"><strong>Paso 1</strong>: Datos del Denunciante</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="TipoIdentificacionId" class="form-label"><strong>Tipo de Identificación</strong></label>
                                    <select asp-for="Denunciante.TipoIdentificacionId" class="form-select" asp-items="@(new SelectList(Model.ListTiposIdentificacion, "TipoIdentificacionId", "Descripcion"))" id="tipoIdentificacionSelect">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                 
                                    <span asp-validation-for="Denunciante.TipoIdentificacionId" class="text-danger text-center"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="NumeroIdentificacion" class="form-label"><strong>Número de Identificación</strong></label>
                                    <div class="input-group">
                                        <input asp-for="Denunciante.NumeroIdentificacion" class="form-control" id="numeroIdentificacion" />
                                        <button type="button" class="btn btn-outline-info" id="consultaCiudadanoBtn" style="display: none;">Buscar</button>
                                    </div>
                                    <span asp-validation-for="Denunciante.NumeroIdentificacion" class="text-danger text-center"></span>
                                    <!-- Mensaje de error al buscar el ciudadano -->
                                    <div id="errorCiudadano" class="text-danger" style="display: none;">
                                        Ciudadano no encontrado.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Nombre" class="form-label"><strong>Nombre</strong></label> 
                                    <input asp-for="Denunciante.Nombre" class="form-control" id="nombreDenunciante" /> 
                                    <span asp-validation-for="Denunciante.Nombre" class="text-danger text-center"></span>
 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="PrimerApellido" class="form-label"><strong>Primer Apellido</strong></label>
                                    <input asp-for="Denunciante.PrimerApellido" class="form-control" id="primerApellidoDenunciante" />
                                    <span asp-validation-for="Denunciante.PrimerApellido" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="SegundoApellido" class="form-label"><strong>Segundo Apellido</strong></label>
                                    <input asp-for="Denunciante.SegundoApellido" class="form-control" id="segundoApellidoDenunciante" />
                                    <span asp-validation-for="Denunciante.SegundoApellido" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="SexoId" class="form-label"><strong>Sexo</strong></label>
                                    <select asp-for="Denunciante.SexoId" class="form-select" asp-items="@(new SelectList(Model.ListSexos, "SexoId", "Descripcion"))">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.SexoId" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="EstadoCivilId" class="form-label"><strong>Estado Civil</strong></label>
                                    <select asp-for="Denunciante.EstadoCivilId" class="form-select" asp-items="@(new SelectList(Model.ListEstadosCiviles, "EstadoCivilId", "Descripcion"))">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.EstadoCivilId" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="PaisOrigenCodigo" class="form-label"><strong>País de Origen</strong></label>
                                    <select asp-for="Denunciante.PaisOrigenCodigo" class="form-select" asp-items="@(new SelectList(Model.ListPaises, "CodigoNumerico", "DenominacionPais"))">
                                        <option value="">Seleccione un país</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.PaisOrigenCodigo" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="EscolaridadId" class="form-label"><strong>Escolaridad</strong></label>
                                    <select asp-for="Denunciante.EscolaridadId" class="form-select" asp-items="@(new SelectList(Model.ListEscolaridades, "EscolaridadId", "Descripcion"))">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.EscolaridadId" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="TelefonoCelular" class="form-label"><strong>Teléfono Celular</strong></label>
                                    <input asp-for="Denunciante.TelefonoCelular" class="form-control" id="telefonoCelularDenunciante" />
                                    <span asp-validation-for="Denunciante.TelefonoCelular" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="CorreoElectronico" class="form-label"><strong>Correo Electrónico</strong></label>
                                    <input asp-for="Denunciante.CorreoElectronico" class="form-control" id="correoElectronicoDenunciante" />
                                    <span asp-validation-for="Denunciante.CorreoElectronico" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <br />
                                    <input asp-for="Denunciante.EsMenorEdad" class="form-check-input" id="esMenorEdad" />
                                    <label class="form-check-label" for="esMenorEdad">
                                        &nbsp; Menor de Edad
                                    </label>
                                    <br />
                                    <input asp-for="Denunciante.TieneRequerimientoEspecial" class="form-check-input" id="tieneRequerimientoEspecial" />
                                    <label class="form-check-label" for="esMenorEdad">
                                        &nbsp; Tiene requerimiento especial
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="ProvinciaCodigo" class="form-label"><strong>Provincia</strong></label>
                                    <select asp-for="Denunciante.ProvinciaCodigo" id="provinciaSelect" class="form-select">
                                        <option value="">Seleccione una provincia</option>
                                        @foreach (var provincia in Model.ListProvincias)
                                        {
                                            <option value="@provincia.Codigo">@provincia.Nombre</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Denunciante.ProvinciaCodigo" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="CantonCodigo" class="form-label"><strong>Cantón</strong></label>
                                    <select asp-for="Denunciante.CantonCodigo" id="cantonSelect" class="form-select">
                                        <option value="">Seleccione un cantón</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.ProvinciaCodigo" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="DistritoCodigo" class="form-label"><strong>Distrito</strong></label>
                                    <select asp-for="Denunciante.DistritoCodigo" id="distritoSelect" class="form-select">
                                        <option value="">Seleccione un distrito</option>
                                    </select>
                                    <span asp-validation-for="Denunciante.DistritoCodigo" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="DireccionExacta" class="form-label"><strong>Direccción Exacta</strong></label>
                                <textarea asp-for="Denunciante.DireccionExacta" class="form-control" style="height: 100px;"></textarea>
                                <span asp-validation-for="Denunciante.DireccionExacta" class="text-danger text-center"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary next-step shadow">Siguiente</button>
                        </div>
                    </div>

                    <!-- Paso 2: Persona Afectada -->
                    <div class="step shadow-sm p-4 mb-4 bg-white rounded" id="step2" style="display:none;">
                        <h3 class="text-center border-bottom pb-2"><strong>Paso 2</strong>: Datos de la Persona Afectada (Opcional)</h3>
                        <!-- Campos de la persona afectada -->
                        <!-- Check para incluir Persona Afectada -->
                        <div class="mb-3 form-check">
                            <input asp-for="IncluyePersonaAfectada" class="form-check-input" id="incluyePersonaAfectada" />
                            <label class="form-check-label" for="incluyePersonaAfectada">
                                Incluir datos de Persona Afectada
                            </label>
                            <span asp-validation-for="IncluyePersonaAfectada" class="text-danger text-center"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoTipoIdentificacionId" class="form-label"><strong>Tipo de Identificación</strong></label>
                                    <select asp-for="PersonaAfectada.TipoIdentificacionId" class="form-select persona-afectada-field" asp-items="@(new SelectList(Model.ListTiposIdentificacion, "TipoIdentificacionId", "Descripcion"))">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                    <span asp-validation-for="PersonaAfectada.TipoIdentificacionId" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoNumeroIdentificacion" class="form-label"><strong>Número de Identificación</strong></label>
                                    <input asp-for="PersonaAfectada.NumeroIdentificacion" class="form-control persona-afectada-field" />
                                    <span asp-validation-for="PersonaAfectada.NumeroIdentificacion" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoNombre" class="form-label"><strong>Nombre</strong></label>
                                    <input asp-for="PersonaAfectada.Nombre" class="form-control persona-afectada-field" />
                                    <span asp-validation-for="PersonaAfectada.Nombre" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoPrimerApellido" class="form-label"><strong>Primer Apellido</strong></label>
                                    <input asp-for="PersonaAfectada.PrimerApellido" class="form-control persona-afectada-field" />
                                    <span asp-validation-for="PersonaAfectada.PrimerApellido" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoSegundoApellido" class="form-label"><strong>Segundo Apellido</strong></label>
                                    <input asp-for="PersonaAfectada.SegundoApellido" class="form-control persona-afectada-field" />
                                    <span asp-validation-for="PersonaAfectada.SegundoApellido" class="text-danger text-center"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="AfectadoSexoId" class="form-label"><strong>Sexo</strong></label>
                                    <select asp-for="PersonaAfectada.SexoId" class="form-select persona-afectada-field" asp-items="@(new SelectList(Model.ListSexos, "SexoId", "Descripcion"))">
                                        <option value="">Seleccione una opción</option>
                                    </select>
                                    <span asp-validation-for="PersonaAfectada.SexoId" class="text-danger text-center"></span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary prev-step shadow">Anterior</button>
                            <button type="button" class="btn btn-primary ms-2 next-step shadow">Siguiente</button>
                        </div>
                    </div>

                    <!-- Paso 3: Datos de la Denuncia -->
                    <div class="step shadow-sm p-4 mb-4 bg-white rounded" id="step3" style="display:none;">
                        <h3 class="text-center border-bottom pb-2"><strong>Paso 3</strong>: Datos de la Denuncia</h3>

                        <div class="mb-3">
                            <label for="Petitoria" class="form-label"><strong>Petitoria</strong></label>
                            <textarea asp-for="Petitoria" class="form-control" style="height: 100px;"></textarea>
                            <span asp-validation-for="Petitoria" class="text-danger text-center"></span>
                        </div>

                        <div class="mb-3">
                            <label for="DetalleDenuncia" class="form-label"><strong>Detalle de la Denuncia</strong></label>
                            <textarea asp-for="DetalleDenuncia" class="form-control" style="height: 100px;"></textarea>
                            <span asp-validation-for="DetalleDenuncia" class="text-danger text-center"></span>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary prev-step shadow">Anterior</button>
                            <button type="button" class="btn btn-primary ms-2 next-step shadow">Siguiente</button>
                        </div>
                    </div>

                    <!-- Paso 4: Archivos Adjuntos y Términos -->
                    <div class="step shadow-sm p-4 mb-4 bg-white rounded" id="step4" style="display:none;">
                        <h3 class="text-center border-bottom pb-2"><strong>Paso 4</strong>:  Adjuntos y Aceptación de Términos</h3>

                        <div class="mb-3">
                            <div class="file-drop-area">
                                <span class="fake-btn">Arrastrar archivos o hacer clic</span>
                                <span class="file-msg">Ningún archivo seleccionado</span>
                                <input type="file" name="Files" id="fileInput" class="file-input" multiple />
                            </div>
                        </div>



                        <!-- Aquí se muestra la lista de archivos seleccionados -->
                        <ul id="fileList" class="file-list"></ul>

                        <div class="mb-3 form-check">
                            <input asp-for="AceptaTerminos" class="form-check-input @(ViewData.ModelState["AceptaTerminos"]?.Errors.Count > 0 ? "is-invalid" : "")" id="aceptaTerminosCheckbox" />
                            <label class="form-check-label" for="AceptaTerminos">
                                <strong>Acepto los Términos</strong>. El almacenamiento y tratamiento de datos personales solicitados tiene como fin único el tramitar su solicitud.
                            </label>
                            <div class="invalid-feedback">Debe aceptar los términos para continuar.</div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary prev-step shadow">Anterior</button>
                            <button type="submit" class="btn btn-success ms-2 shadow">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Verificar si la página se está accediendo a través del historial (por ejemplo, al hacer clic en "Atrás")
        if (performance.navigation.type === 2) {
            location.reload(true); // Forzar recarga de la página desde el servidor
        }
    </script>
    <script src="~/js/file-upload.js"></script>
    <script>
        $(document).ready(function () {
            var currentStep = 1;
            var totalSteps = 4;

            function updateProgressBar(step) {
                var progress = (step / totalSteps) * 100;
                $('#progress-bar').css('width', progress + '%');
                $('#progress-bar').text('Paso ' + step + ' de ' + totalSteps);
            }

            // Mostrar el paso actual
            function showStep(step) {
                $('.step').hide();
                $('#step' + step).fadeIn(300);
                updateProgressBar(step);
            }

            // Navegación entre pasos
            $('.next-step').on('click', function () {
                // Validar el paso actual
                var isValid = validateCurrentStep(currentStep);

                if (isValid) {
                    if (currentStep < totalSteps) {
                        currentStep++;
                        showStep(currentStep);
                    }
                }
            });
            // Navegación entre pasos
            $('.prev-step').on('click', function () {
                if (currentStep > 1) {
                    currentStep--;
                    showStep(currentStep);
                }
            });

            // Permite cambiar el mensaje de validación de email
            $.extend($.validator.messages, {
                email: "Debe ingresar una dirección válida."
            });


            // Inicializar en el primer paso
            showStep(currentStep);

            // Manejar carga dinámica de cantones y distritos
            $('#provinciaSelect').change(function () {
                var provinciaId = $(this).val();
                $.get('/Denuncia/Solicitud/GetCantones', { provinciaId: provinciaId }, function (cantones) {
                    var cantonSelect = $('#cantonSelect');
                    cantonSelect.empty();
                    cantonSelect.append('<option value="">Seleccione un cantón</option>');
                    $.each(cantones, function (i, canton) {
                        cantonSelect.append('<option value="' + canton.codigoCanton + '">' + canton.nombre + '</option>');
                    });
                    // Limpiar distritos
                    $('#distritoSelect').empty().append('<option value="">Seleccione un distrito</option>');
                });
            });

            // Manejar carga dinámica de distritos
            $('#cantonSelect').change(function () {
                var cantonId = $(this).val();
                $.get('/Denuncia/Solicitud/GetDistritos', { cantonId: cantonId }, function (distritos) {
                    var distritoSelect = $('#distritoSelect');
                    distritoSelect.empty();
                    distritoSelect.append('<option value="">Seleccione un distrito</option>');
                    $.each(distritos, function (i, distrito) {
                        distritoSelect.append('<option value="' + distrito.codigoDistrito + '">' + distrito.nombre + '</option>');
                    });
                });
            });

            // Mostrar u ocultar el botón de consulta dependiendo del tipo de identificación seleccionado
            $('#tipoIdentificacionSelect').change(function () {
                var tipoIdentificacion = $(this).val();
                if (tipoIdentificacion == 1) {  // Si el tipo de identificación es 1, mostrar el botón
                    $('#consultaCiudadanoBtn').show();
                } else {
                    $('#consultaCiudadanoBtn').hide();
                }
            });

            // Al hacer clic en el botón de consulta
            $('#consultaCiudadanoBtn').on('click', function () {
                var cedula = $('#numeroIdentificacion').val();

                // Verificar si el número de identificación está vacío
                if (cedula === '') {
                    alert('Por favor, ingrese un número de identificación.');
                    return;
                }

                // Llamada al API para obtener el ciudadano
                $.get('/Denuncia/Solicitud/GetCiudadano', { cedula: cedula }, function (data) {
                    // Si se obtiene la información del ciudadano, llenar los campos
                    $('#nombreDenunciante').val(data.nombre);
                    $('#primerApellidoDenunciante').val(data.apellido1);
                    $('#segundoApellidoDenunciante').val(data.apellido2);
                    $('#errorCiudadano').hide();  // Ocultar el mensaje de error si se encuentra el ciudadano
                }).fail(function () {
                    // Mostrar mensaje de error si no se encuentra el ciudadano
                    $('#errorCiudadano').show();
                });
            });

            // Capturar el evento de presionar "Enter" en el campo de Número de Identificación
            $('#numeroIdentificacion').on('keypress', function (e) {
                if (e.which === 13) { // Código de la tecla "Enter"
                    if ($('#consultaCiudadanoBtn').is(':visible')) {
                        // Simula un clic en el botón de consulta si está visible
                        $('#consultaCiudadanoBtn').click();
                        e.preventDefault(); // Evita que el formulario se envíe al presionar Enter
                    }
                }
            });

            function validateCurrentStep(step) {

                console.log('Validating step ' + step);
                var formIsValid = true;


                if (step === 2) {
                    if ($('#incluyePersonaAfectada').is(':checked')) {
                        console.log('Validating Persona Afectada fields');
                        var personaAfectadaFields = $('.persona-afectada-field');
                        personaAfectadaFields.each(function () {
                            if (!$(this).valid()) {
                                formIsValid = false;
                            }
                        });
                    }
                } else {
                    // Validar los campos del paso actual
                    var $stepForm = $('#step' + step + ' input, #step' + step + ' select, #step' + step + ' textarea');
                    $stepForm.each(function () {
                        // if (!$(this).valid()) {
                        //     formIsValid = false;
                        // }
                        if (!$(this).valid()) {
                            $(this).addClass('is-invalid');
                            formIsValid = false;
                        } else {
                            $(this).removeClass('is-invalid').addClass('is-valid');
                        }
                    });

                }

                return formIsValid;
            }

            // Función para limpiar y deshabilitar los campos
            function limpiarCamposPersonaAfectada() {
                $('.persona-afectada-field').each(function () {
                    $(this).val('');  // Limpiar campos
                    $(this).prop('disabled', true);  // Deshabilitar campos
                });
            }

            // Por defecto: si la denuncia es nueva, los campos están deshabilitados
            limpiarCamposPersonaAfectada();


            // Activar/desactivar los campos de Persona Afectada según el checkbox
            $('#incluyePersonaAfectada').change(function () {
                var isChecked = $(this).is(':checked');
                $('.persona-afectada-field').prop('disabled', !isChecked);

                if (!isChecked) {
                    // Limpiar y deshabilitar los campos si se desmarca
                    limpiarCamposPersonaAfectada();
                }
            });


            // Validar el campo de Aceptar Términos y SweetAlert para confirmar el envío del formulario
            $('form').on('submit', function (e) {
                e.preventDefault(); // Detener el envío del formulario

                // Validar el checkbox de Acepta los Términos
                var aceptaTerminos = $('#aceptaTerminosCheckbox').is(':checked');
                if (!aceptaTerminos) {
                    $('#aceptaTerminosCheckbox').addClass('is-invalid');
                    return;
                } else {
                    $('#aceptaTerminosCheckbox').removeClass('is-invalid').addClass('is-valid');
                }

                // Mostrar el SweetAlert de confirmación
                Swal.fire({
                    title: '¿Está seguro de que desea guardar?',
                    text: "No podrá deshacer esta acción.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, guardar',
                    cancelButtonText: 'No, cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Enviar el formulario si el usuario confirma
                        $('form').off('submit').submit();
                    }
                });
            });

        });
    </script>
}